.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 50px;
    gap: 60px;
    box-sizing: border-box;
    width: 100%;
}

.comment-content {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    box-sizing: border-box;
    width: 100%;

}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid #9747FF;
    border-radius: 30px;
    width: 851px;
    height: 272px;
    padding: 48px 96px;
    gap: 40px;
}

.comment-writer-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.comment-writer {
    white-space: nowrap;
    justify-self: end;
}

.quote-marks {
    width: 97px;
    height: 68px;
    position: relative;
    left: 80px;
    bottom: 40px;
}

.comment-img-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.comment-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ccc;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -15px;
    left: -15px;
}

.green-border {
    width: 272px;
    height: 272px;
    border: 3px solid #70E61C;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.comment-img.transition-out {
    opacity: 0;
    transform: scale(0.8);
}

.comment-blue-line {
    height: 2px;
    border-radius: 10px;
    width: 100%;
    min-width: 60px;
}

.comment-green-line {
    height: 3px;
}

.comment-navigation-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    line-height: 120%;
}

.arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#left_arrow {
    background-image: url("../assets/icons/arrow_left.png");
}

#left_arrow:hover {
    background-image: url("../assets/icons/arrow_left_framed.png");
}

#right_arrow {
    background-image: url("../assets/icons/arrow_right.png");
}

#right_arrow:hover {
    background-image: url("../assets/icons/arrow_right_framed.png");
}

.navigation-dot {
    font-size: 24px;
    color: #9747FF;
}