h1 a {
    text-decoration: none;
    color: white;
}

nav {
    width: 100%;
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1440px;
    z-index: 99;
    background-color: #141D2F;
    padding: 0 37px;
}

.navigation-bar {
    gap: 92px;
    display: flex;
    align-items: center;
}

.navigation-links-container {
    display: flex;
    font-size: 24px;
    gap: 29px;
}

.navigation-links-container a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-style: normal;
}

.navigation-links-container a:hover {
    color: #70e71a;
}

.navigations-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation-links-img {
    width: 57px;
    height: 3px;
}

.navigations-links.active a {
    color: #70e71a !important;
}

.navigations-links.active .navigation-links-img {
    display: block !important;
}

.change_language_button {
    height: 32px;
    width: 92px;
    cursor: pointer;
}

.purple-dot {
    color: #9747ff;
}

.green-r {
    color: #70e71a;
}