.portfolio_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
    width: 100%;
    background-color: #141D2F;
    isolation: isolate;
}

.portfolio_section h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 120%;
}

.dNone {
    display: none !important;
}

.project-headline-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;
}

.headline_container {
    display: flex;
    align-items: center;


    gap: 32px;
    margin-bottom: 40px;
}

.headline_span {
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    width: 473px;
    position: relative;
    left: 100px;
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    max-width: 1286px;
}

.project_container {
    width: 603px;
    height: 603px;
    border: solid 1px #70E61C;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141D2F;
}

.project-container-img {
    width: 750px;
    height: 600px;
    transition: all 0.3s ease;
}

.zoomed {
    width: 1440px;
    height: 1500px;
    transition: all 0.3s ease;
    opacity: 0.3;
}

.overlay {
    display: flex;
    flex-direction: column;
    height: 550px;
    gap: 74px;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.button_container {
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 24px; */
}

.portfolio_section button {
    cursor: pointer;
    color: white;
    height: 58px;
    width: 160px;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 23px;
    line-height: 120%;
    margin-top: 20px;
}

.git_button {
    background-color: transparent;
    border: solid 1px #1ddae6;
    cursor: pointer;
    color: white;
    height: 58px;
    width: 137px;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 23px;
    line-height: 120%;
    margin-top: 20px;
    text-decoration: none;
}

.git_button:hover {
    background-color: #1ddae6;
}

.live_button {
    background-color: #9747FF;
    border: none;
    cursor: pointer;
    color: white;
    height: 58px;
    width: 152px;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 23px;
    line-height: 120%;
    margin-top: 20px;
    text-decoration: none;
}

.live_button:hover {
    background-color: #70E61C;
}

.info_container {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 374px;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.portfolio_section h2 {
    color: #9747FF;
    font-size: 32px;
    font-weight: 700;
}

.project-description {
    font-size: 18px;
    line-height: 125%;
    text-align: center;
}

.used-skills {
    color: #70E61C;
}

.portfolio-section-shadows {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -10;
}

.blue-shadow {
    position: absolute;
    bottom: 60%;
    right: -350px;
    width: 740px;
    height: 800px;
    z-index: -1;
}

.green-shadow {
    position: absolute;
    top: 57%;
    left: -514px;
    width: 800px;
    height: 870px;
    z-index: -1;
}