.main-content {
    height: 63%;
    margin-top: 109px;
    background-color: #141D2F;

}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 120%;
    gap: 25px;
    margin-top: 96px;
}

.privacy-h1 {
    font-size: 61px;
    color: #70e61c;
    font-weight: 700;
    line-height: 120%;
}

.privacy-h2 {
    font-size: 33px;
    color: #9747FF;
    font-weight: 700;
    line-height: 120%;
}

.privacy-h3 {
    font-size: 22px;
    color: white;
    font-weight: 600;
    line-height: 120%;
}

.privacy-h4 {
    font-size: 18px;
    color: white;
    font-weight: 600;
    line-height: 120%;
    text-decoration: underline;
}

.privacy-p {
    font-size: 16px;
}

.privacy-a {
    font-size: 16px;
    color: #9747FF;
    text-decoration: none;
}

.first-header-line {
    width: 130px;
    height: 3px;
}

.second-header-line {
    width: 500px;
    height: 3px;
}

.content {
    margin: 121px 204px;
}